# KalaTrack Environment Variables Example
VITE_SUPABASE_URL=https://bjxpdwkvllbknvcwmmqi.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_GJKAoQd0uc7Dlh_eeCWl8Q_4LztbYix
NEXT_PUBLIC_SUPABASE_URL=https://bjxpdwkvllbknvcwmmqi.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_GJKAoQd0uc7Dlh_eeCWl8Q_4LztbYix
